.container {
  background-color: "#151829";
  display: "flex";
}
.sidebar {
  width: "30%";
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  margin-top: 25;
  border-right: "2px solid grey";
}
.heading {
  font-weight: "bold";
  margin-bottom: 20;
  font-family: "Montserrat";
}
.description {
  width: "100%";
  font-family: "Montserrat";
  text-align: "left";
}

.marketData {
  align-self: "start";
  padding: 25;
  padding-top: 10;
  width: "100%";
}

@media screen and(max-width:900px) {
  .constiner {
    flex-direction: "column";
    align-items: "center";
  }
  .sidebar {
    width: "100%";
  }
  .marketData {
    display: "flex";
    flex-direction: "column";
    align-items: "center";
  }
}

@media screen and(max-width:600px) {
  .marketData {
    align-items: "start";
  }
}
