.coin_info_container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 40;
}
.chart_btns {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  width: 100%;
}
@media screen and(max-width:900px) {
  .coin_info_container {
    width: 100%;
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
  }
}

@media screen and(max-width:600px) {
  .chart_btns {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-rows: 50px 50px;
  }
}
