.row {
  background-color: "#16171a";
  cursor: pointer;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto,
    Helvetica, Arial, sans-serif;
}
.row:hover {
  background-color: "#131111";
}

.table_cell {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto,
    Helvetica, Arial, sans-serif;
}

.pagination {
  color: "gold";
}
@media screen and(max-width:600px) {
  .pagination {
    padding: 15px 3px 16px 3px;
  }
}
