.app_bar {
  height: 67px;
  background: #9641da78;
  backdrop-filter: blur(11px);
  position: sticky;
  top: 0;
}
.title {
  flex: 1;
  font-size: 24px;
  color: #fff;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto,
    Helvetica, Arial, sans-serif;
  cursor: pointer;
}
@media screen and (max-width) {
  .app_bar {
    padding: 5px;
  }
}
