.selectbutton {
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  font-family: Montserrat;
  cursor: pointer;

  width: 22%;
  margin: 5px;
}
.selectbutton :hover {
  background-color: gold;
  color: #000;
}

@media screen and(max-width:600px) {
  .selectbutton {
    width: 100%;
    display: grid;
  }
}
